@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  padding-top: 50px;
  background: #2f3841;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73797f;
  border-radius: 5px;
}
